.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3a3a3a72;
    width:100%;
}

.container{
    max-width: min(90%,600px);
    margin: 50px auto;
    padding: 2em 3em;
    position:relative;
}
.container h1{
    padding:1em;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--color);
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border:2px solid var(--color);
}

.passwordWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.eyeIcon{
    position:absolute;
    top:50%;
    left:90%;
    transform: translateY(-50%);
}

.label {
    font-size: 16px;
    font-weight: 500;
}

.errorMessage {
    padding:10px;
    font-family:'Arial';
    max-width: 200px;
    background-color:rgb(253, 168, 168);
    color: rgb(56, 0, 0);
    border-radius:7px;
    font-size: 13px;
    margin-top:0;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--color);
    border:2px solid var(--color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:disabled {
    background-color: #aab5fa;
    cursor: not-allowed;
}



.span {
    cursor: pointer;
    position: relative;
    top: -30px; 
    right: 10px;
    font-size: 24px;
}


.linkWrapper{
    display:flex;
    justify-content:center;
    gap:1.2em;
    align-items:center;
    margin-top:2em;
}
.link{
    color:rgb(0, 11, 63);
    text-decoration:none;
    font-weight:bold;
    font-family:'Segoe UI';
    font-size:0.9em;
    font-weight:500;
    transition:color 0.3s;
}

.group{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:1em;
    margin-top:1em;
    flex-wrap:wrap;
}

.groupColumn{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:1em;
    margin-top:1em;
}

