.form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  font-size:12px;
  color:var(--color);
}

.label {
  display: flex;
  flex-direction: column;
  width:fit-content;
  position: relative;
  top:15px;
  font-weight:bold;
  left:10px;
  z-index:10;
  background-color:white;
}



.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color);
  border-radius: 4px;
  margin-top: 8px;
  color: var(--logo-color);
  font-weight:bold;
}

.input:focus {
  outline: none;
  border-color: var(--logo-color);
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: calc(50% + 4px);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:var(--logo-color)
}

.eyeIcon:hover {
  color: var(--logo-color-opacity);
}

.errorText {
  color: #ff0000;
  margin-top: 5px;
}

.form .button {
  margin-top:20px;
  background-color: var(--logo-color-opacity);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form .button:hover {
  background-color: var(--logo-color);
}

.form .button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.error {
  border-color: #ff0000;
}
