--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: article; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.article (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    date timestamp without time zone DEFAULT now() NOT NULL,
    title character varying NOT NULL,
    description character varying NOT NULL,
    "imgUrl" text,
    rating real DEFAULT '0'::real NOT NULL,
    "reviewsCount" integer DEFAULT 0 NOT NULL,
    "userId" uuid
);


ALTER TABLE public.article OWNER TO postgres;

--
-- Name: article_categories_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.article_categories_category (
    "articleId" uuid NOT NULL,
    "categoryId" uuid NOT NULL
);


ALTER TABLE public.article_categories_category OWNER TO postgres;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created timestamp without time zone DEFAULT now() NOT NULL,
    email text NOT NULL,
    message text NOT NULL
);


ALTER TABLE public.contact OWNER TO postgres;

--
-- Name: content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type character varying NOT NULL,
    value character varying NOT NULL,
    "articleId" uuid
);


ALTER TABLE public.content OWNER TO postgres;

--
-- Name: review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created timestamp without time zone DEFAULT now() NOT NULL,
    content text NOT NULL,
    rating real NOT NULL,
    "userId" uuid,
    "articleId" uuid
);


ALTER TABLE public.review OWNER TO postgres;

--
-- Name: review_downvotes_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review_downvotes_user (
    "reviewId" uuid NOT NULL,
    "userId" uuid NOT NULL
);


ALTER TABLE public.review_downvotes_user OWNER TO postgres;

--
-- Name: review_upvotes_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review_upvotes_user (
    "reviewId" uuid NOT NULL,
    "userId" uuid NOT NULL
);


ALTER TABLE public.review_upvotes_user OWNER TO postgres;

--
-- Name: socials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socials (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    facebook text,
    twitter text,
    youtube text,
    instagram text,
    linkedin text,
    "userId" uuid
);


ALTER TABLE public.socials OWNER TO postgres;

--
-- Name: unverifiedUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."unverifiedUser" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created timestamp without time zone DEFAULT now() NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    password text NOT NULL,
    email text NOT NULL,
    "verificationCode" character varying NOT NULL
);


ALTER TABLE public."unverifiedUser" OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created timestamp without time zone DEFAULT now() NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    password text NOT NULL,
    email text NOT NULL,
    description text,
    "profilePicture" text,
    "socialsId" uuid
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Data for Name: article; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.article (id, date, title, description, "imgUrl", rating, "reviewsCount", "userId") FROM stdin;
290b0a09-c90c-4364-a51a-efce6a3861ed	2023-09-28 23:40:06.552402	123	123	c9ac5399-629b-4695-a108-97f0b42b9727.jpg	0	0	ff634ac7-560b-4323-840c-c452d318989f
5a708800-23b9-42ee-8e71-161e27a78ad6	2023-09-28 23:40:29.018739	567	567	deef32fd-79fa-479f-95cf-ae4cbaaf0cf0.jpg	0	0	ff634ac7-560b-4323-840c-c452d318989f
\.


--
-- Data for Name: article_categories_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.article_categories_category ("articleId", "categoryId") FROM stdin;
290b0a09-c90c-4364-a51a-efce6a3861ed	bebaafaf-5bc8-4bbf-b01c-0ce535f6bb1a
5a708800-23b9-42ee-8e71-161e27a78ad6	2d58e7b8-34bf-4037-a846-8cf34d4840f7
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category (id, name) FROM stdin;
bebaafaf-5bc8-4bbf-b01c-0ce535f6bb1a	123
2d58e7b8-34bf-4037-a846-8cf34d4840f7	567
\.


--
-- Data for Name: contact; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact (id, created, email, message) FROM stdin;
\.


--
-- Data for Name: content; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content (id, type, value, "articleId") FROM stdin;
655ae337-9450-4189-b442-76d3f6366118	paragraph	123	290b0a09-c90c-4364-a51a-efce6a3861ed
a8d63cae-8976-43fa-87ed-41fabc5e806b	paragraph	576	5a708800-23b9-42ee-8e71-161e27a78ad6
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review (id, created, content, rating, "userId", "articleId") FROM stdin;
\.


--
-- Data for Name: review_downvotes_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review_downvotes_user ("reviewId", "userId") FROM stdin;
\.


--
-- Data for Name: review_upvotes_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review_upvotes_user ("reviewId", "userId") FROM stdin;
\.


--
-- Data for Name: socials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socials (id, facebook, twitter, youtube, instagram, linkedin, "userId") FROM stdin;
\.


--
-- Data for Name: unverifiedUser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."unverifiedUser" (id, created, name, surname, password, email, "verificationCode") FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (id, created, name, surname, password, email, description, "profilePicture", "socialsId") FROM stdin;
ff634ac7-560b-4323-840c-c452d318989f	2023-09-28 23:39:50.623	Adam	Bista	$2a$10$1swLsMFRJg9VV8vd5fm9VeBWEHtF6QiT.ydjyHDVxCldXwYTEitaW	adam.bista@op.pl	\N	\N	\N
\.


--
-- Name: review_downvotes_user PK_21bb80cad5372e9c77e1a9828e4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_downvotes_user
    ADD CONSTRAINT "PK_21bb80cad5372e9c77e1a9828e4" PRIMARY KEY ("reviewId", "userId");


--
-- Name: contact PK_2cbbe00f59ab6b3bb5b8d19f989; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact
    ADD CONSTRAINT "PK_2cbbe00f59ab6b3bb5b8d19f989" PRIMARY KEY (id);


--
-- Name: review PK_2e4299a343a81574217255c00ca; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT "PK_2e4299a343a81574217255c00ca" PRIMARY KEY (id);


--
-- Name: article PK_40808690eb7b915046558c0f81b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT "PK_40808690eb7b915046558c0f81b" PRIMARY KEY (id);


--
-- Name: socials PK_5e3ee018e1b66c619ae3d3b3309; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socials
    ADD CONSTRAINT "PK_5e3ee018e1b66c619ae3d3b3309" PRIMARY KEY (id);


--
-- Name: content PK_6a2083913f3647b44f205204e36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content
    ADD CONSTRAINT "PK_6a2083913f3647b44f205204e36" PRIMARY KEY (id);


--
-- Name: review_upvotes_user PK_74e04996528e6c739f847bbb384; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_upvotes_user
    ADD CONSTRAINT "PK_74e04996528e6c739f847bbb384" PRIMARY KEY ("reviewId", "userId");


--
-- Name: category PK_9c4e4a89e3674fc9f382d733f03; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT "PK_9c4e4a89e3674fc9f382d733f03" PRIMARY KEY (id);


--
-- Name: article_categories_category PK_a8116c8896d1d576d6ea7ad0d3c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_categories_category
    ADD CONSTRAINT "PK_a8116c8896d1d576d6ea7ad0d3c" PRIMARY KEY ("articleId", "categoryId");


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: unverifiedUser PK_fb352590cc89b2ca77528e9d429; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."unverifiedUser"
    ADD CONSTRAINT "PK_fb352590cc89b2ca77528e9d429" PRIMARY KEY (id);


--
-- Name: socials REL_4b4234e208c922a226344e3a7d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socials
    ADD CONSTRAINT "REL_4b4234e208c922a226344e3a7d" UNIQUE ("userId");


--
-- Name: user REL_b3b55060f83562bfd204155d45; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "REL_b3b55060f83562bfd204155d45" UNIQUE ("socialsId");


--
-- Name: unverifiedUser UQ_631016c55e79391dcbc2a8c4448; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."unverifiedUser"
    ADD CONSTRAINT "UQ_631016c55e79391dcbc2a8c4448" UNIQUE (email);


--
-- Name: user UQ_e12875dfb3b1d92d7d7c5377e22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_e12875dfb3b1d92d7d7c5377e22" UNIQUE (email);


--
-- Name: IDX_3092a434162ced9ced78a51849; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3092a434162ced9ced78a51849" ON public.review_downvotes_user USING btree ("userId");


--
-- Name: IDX_4ba35bcb36b2715f61faa696c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4ba35bcb36b2715f61faa696c7" ON public.article_categories_category USING btree ("articleId");


--
-- Name: IDX_5d9199768aa2bd9f91d175dc6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5d9199768aa2bd9f91d175dc6d" ON public.article_categories_category USING btree ("categoryId");


--
-- Name: IDX_86181de8a207910504ea7b8f58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_86181de8a207910504ea7b8f58" ON public.review_downvotes_user USING btree ("reviewId");


--
-- Name: IDX_a09afced52764d532cc0520add; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a09afced52764d532cc0520add" ON public.review_upvotes_user USING btree ("reviewId");


--
-- Name: IDX_b356c24d0d3c9fa4517e7238e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b356c24d0d3c9fa4517e7238e2" ON public.review_upvotes_user USING btree ("userId");


--
-- Name: review FK_1337f93918c70837d3cea105d39; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT "FK_1337f93918c70837d3cea105d39" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- Name: review_downvotes_user FK_3092a434162ced9ced78a518490; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_downvotes_user
    ADD CONSTRAINT "FK_3092a434162ced9ced78a518490" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: review FK_392d1bd467a05f6634a4e31f33c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT "FK_392d1bd467a05f6634a4e31f33c" FOREIGN KEY ("articleId") REFERENCES public.article(id);


--
-- Name: socials FK_4b4234e208c922a226344e3a7d0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socials
    ADD CONSTRAINT "FK_4b4234e208c922a226344e3a7d0" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- Name: article_categories_category FK_4ba35bcb36b2715f61faa696c7e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_categories_category
    ADD CONSTRAINT "FK_4ba35bcb36b2715f61faa696c7e" FOREIGN KEY ("articleId") REFERENCES public.article(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: article_categories_category FK_5d9199768aa2bd9f91d175dc6d1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_categories_category
    ADD CONSTRAINT "FK_5d9199768aa2bd9f91d175dc6d1" FOREIGN KEY ("categoryId") REFERENCES public.category(id);


--
-- Name: article FK_636f17dadfea1ffb4a412296a28; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT "FK_636f17dadfea1ffb4a412296a28" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- Name: review_downvotes_user FK_86181de8a207910504ea7b8f588; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_downvotes_user
    ADD CONSTRAINT "FK_86181de8a207910504ea7b8f588" FOREIGN KEY ("reviewId") REFERENCES public.review(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: review_upvotes_user FK_a09afced52764d532cc0520add6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_upvotes_user
    ADD CONSTRAINT "FK_a09afced52764d532cc0520add6" FOREIGN KEY ("reviewId") REFERENCES public.review(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: content FK_ae4cf5971a967551d3953fa4045; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content
    ADD CONSTRAINT "FK_ae4cf5971a967551d3953fa4045" FOREIGN KEY ("articleId") REFERENCES public.article(id);


--
-- Name: review_upvotes_user FK_b356c24d0d3c9fa4517e7238e27; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_upvotes_user
    ADD CONSTRAINT "FK_b356c24d0d3c9fa4517e7238e27" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user FK_b3b55060f83562bfd204155d451; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_b3b55060f83562bfd204155d451" FOREIGN KEY ("socialsId") REFERENCES public.socials(id);


--
-- PostgreSQL database dump complete
--

