.footer {
    padding: 2rem;
    background-color: var(--background);
    color: var(--light-font-color);
    text-align: center;
    width:100vw;
    bottom:0;
    box-sizing:border-box;
    margin-top: content;
    flex-grow:1;
  }
  
  .footer a {
    margin-right: 1rem;
    color: var(--color-white);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  