/* Search.module.css */

.container {
    display: flex;
    align-items: center;
    background-color: rgba(241, 241, 241, 0.8);
    padding: 10px;
    border-radius: 8px;
    max-width:20rem;
    margin: 2em auto;
}

.searchInput {
    flex-grow: 1;
    border: none;
    padding: 8px 12px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.icon {
    margin-left: 8px;
    cursor: pointer;
}
