.contact {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  
  .contact h2, .contact label, .contact form label {
    color: #171717;
  }
  
  .contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact label, .contact form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #6c6c6c;
    border-radius: 4px;
  }
  
  .contact textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .contact p {
    margin-top: 20px;
    font-size: 12px;
  }
  