:root{
    --light-font-color: #ececec;
    --light-liquid-font-color: #ecececb3;
}
.home-page {
    font-family: var(--font-family);
    background-color: transparent;
    max-width: var(--max-width);
    color: var(--light-font-color);
}

.header, .footer {
    padding: 2rem;
    background-color: var(--background);
    color:  var(--light-font-color);
    text-align: center;
}

.introduction, .how-it-works, .call-to-action, .contact {
    
    color:  var(--light-font-color);
    font-size:1.4rem;
   
}

.call-to-action{
    opacity:0;
    max-width:26em;
    margin-left:3rem;
}


.introduction{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    gap:1px;
    margin:20px;
}

.motivational-quote {
    font-style: italic;
    text-align: center;
    color: var(--color-white);
    font-size:20px;
    border-radius: 8px;
    
}

.group-info{
    display:flex;
   
    justify-content:center;
    align-items:center;
    gap:1rem;
    margin:20px;
}

.call-to-action button {
    padding: 0.5rem 1rem;
    color: var(--color-white);
    background-color: var(--read-more-button);
    border: none;
    cursor: pointer;
    transition: var(--scale-transition-duration);
    border-radius: 8px;
    margin:5px;
    
}

.call-to-action button:hover {
    transform: scale(1.05);
}

.contact form label {
    display: block;
    margin: 1rem 0;
}

.footer a {
    margin-right: 1rem;
    color: var(--color-white);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.header{
    opacity:0;
    margin-top:10rem;
}
.introduction{
    margin-top:14rem;
}
.introduction>*{
    opacity:0;
}

ul{
    list-style-type:none;

}

ul > li{
    font-size:16px;
}

.contact {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
  }
  

  .contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #171717;
  }
  
  .contact label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #171717;
  }
  

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #6c6c6c;
    border-radius: 4px;
  }
  
  .contact textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .contact p {
    margin-top: 20px;
    font-size: 12px;
    color: #171717;
  }
  

  @keyframes animateVisible {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animateVisible {
    animation: animateVisible 0.5s forwards;
    animation-delay:200ms;
  }


  @keyframes animateVisibleRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animateVisibleRight {
    animation: animateVisibleRight 0.5s forwards;
    animation-delay:200ms;
  }