.introduction {
    color: white;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    background-color:var(--background);
    width:100%;
    position:relative;
    height:105vh;
  }
  
  .introduction >* {
    opacity: 0;
  }
  

  
  .introduction > img {
    opacity:1;
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:100%;
  }


 .how-it-works > ul,.how-it-works >.paragraph{
  padding:1em;
  background-color:rgba(255, 255, 255, 0.151);
  border-radius:8px;
  width:fit-content;
 }
.how-it-works{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:center;
  position:relative;
}


  .introduction li{
    list-style:none;
    font-size:1.5rem;
    font-weight:600;
    text-align:left;
    margin:15px 0;
    padding:0;
    
  }

