:root {
  --color: #6262ff;
  --color-white: #ffffff;
  --logo-color: #7b7bfe;
  --logo-color-opacity: #a09cfc;
}
.articleForm{
  position:relative;
  margin:0;
  padding:0;
}

.container {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container *{
  font-family:'Arial', 'sans-serif';
}


.heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color);
  transition: color 0.3s;
}

.inputWrapper {
  margin-bottom: 35px;
  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--logo-color);
  position: absolute;
  top: -10px;
  left: 15px;
  background-color: var(--color-white);
  padding: 0 5px;
  transition: color 0.3s;
}
.tagWrapper{
  justify-content: flex-start;
  gap:0.3em;
  
}
.input,
.textarea,
.newTag {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--color);
  border-radius: 8px;
  font-size: 15px;
  resize: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.counter{
order:2;
}
.buttonDelete{
  order:1;
}

.input:focus,
.textarea:focus {
  border-color: var(--logo-color);
  box-shadow: 0 0 8px rgba(123, 123, 254, 0.5);
}

.newTag {
  max-width:200px;
  margin-right:10px;
}

.textarea {
  min-height: 120px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categoryTag {
  background-color: var(--logo-color-opacity);
  padding: 8px;
  border-radius: 14px;
  margin: 0 8px 8px 0;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.categoryTag:hover {
  background-color: var(--logo-color);
}

.removeCategoryButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  font-weight:bold;
  color: rgb(0, 0, 139);
  transition: color 0.3s;
}

.removeCategoryButton:hover {
  color: var(--color-white);
}

.buttonGroup{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  align-items: flex-start;
  gap:1em;
}

.addButton,
.button,
.buttonDelete,
.submitButton {
  background-color: var(--color);
  color: var(--color-white);
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}



.button,
.buttonDelete {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1em;
}



.button:hover,
.buttonDelete:hover,
.addButton:hover,
.submitButton:hover {
  background-color: var(--logo-color);
  transform: translateY(-3px);
}

.submitButton {
  width: max(100%, 200px);
  margin-top: 20px;
}

.button:disabled,
.submitButton:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.counter {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  color: var(--logo-color);
}

.buttonDelete {
  background-color: #ff6262;
  color: var(--color-white);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.buttonDelete:hover {
  background-color: #ff3f3f;
  transform: translateY(-3px);
}


.quill-editor-container {
  background-color: white; /* Ustawienie tła edytora na białe */
  border: 1px solid #ccc; /* Dodanie cienkiej ramki wokół edytora */
  border-radius: 5px; /* Zaokrąglenie rogów edytora */
  width:100%;
  color:black;
}
.quill-editor-container *{
  color: black;
  text-align:left;
}
.quill-editor .ql-container {
  font-family: 'Arial', sans-serif; /* Ustawienie czcionki dla tekstu w edytorze */
  color: black; /* Ustawienie koloru tekstu na czarny */
  
}

.quill-editor .ql-toolbar {
  border-top-left-radius: 5px; /* Zaokrąglenie górnego lewego rogu paska narzędzi */
  border-top-right-radius: 5px; /* Zaokrąglenie górnego prawego rogu paska narzędzi */
}

.quill-editor .ql-container {
  border-bottom-left-radius: 5px; /* Zaokrąglenie dolnego lewego rogu edytora */
  border-bottom-right-radius: 5px; /* Zaokrąglenie dolnego prawego rogu edytora */
}
