.posts{
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap: 0 1.4em;
    min-height:70vh;
    margin-top:5em;
}


.fullWidth {
    flex-basis: 100%; /* This will make it take the full width */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}



.filterStatus{
    flex-basis:100%;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:baseline;
    background-color:var(--logo-color);
    padding:0.5em 0.4em 0.5em 4em;

    font-size:24px;

}
.filterStatus:after{
    content:'';
    height:3px;
    width:min(60vw,400px);
    background-color:white;
}
.categories{
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    flex-basis:100%;
    max-height:200px;
    overflow-y:scroll;
    background-color:var(--logo-color-opacity);
    padding:0.5em;
    margin-top:-20px;
    margin-bottom:2em;
    
}
.categoryBadge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    color: #f0f0f0;
    background-color: var(--logo-color);
    cursor: pointer;
    transition: background-color 0.3s;
  
}
  
  .categoryBadge:hover {
    background-color:  var(--color);;
  }
  

@media only screen and (max-width:450px){
    .filterStatus{
        font-size:16px;
    }
    .filterStatus:after{
        display:none;
    }
}
