.posts{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    min-height:70vh;
    
}


.fullWidth {
    flex-basis: 100%; /* This will make it take the full width */
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
}

.search{
    flex-basis:100%;
    color:white;
    display:flex;
    justify-content:center;   
    align-items:center;
    background:var(--color);
    font-size:24px;
    height:4em; 
    position:sticky;
    top:0;
    z-index:20;
  margin-bottom:2em;
}

.mainSearch{
  display:flex;
  flex-wrap:wrap;
  gap:0.6em;
  justify-content:center;
}

.categories{
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    position:absolute;
    top: 100%; 
    flex-basis:100%;
    max-height:150px;
    width:100%;
    overflow-y:scroll;
    background-color:var(--logo-color-opacity);
    padding:0.5em;
    transition:all 0.3s ease-in-out;  
    z-index:19;
    
}
.categoryBadge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    color: #f0f0f0;
    background-color: var(--logo-color);
    cursor: pointer;
    transition: background-color 0.3s;
  
}
  
  .categoryBadge:hover {
    background-color:  var(--color);;
  }

  .expandCategories{
    display:none;
  }
  .expandCategories{
    display:flex;
    position:absolute;
    top:110%;
    transform: translateY(-100%);
    z-index:20;
    font-size:12px;
    background-color:var(--dark-color);
    padding:4px 7px;
    border-radius:5px;
    left:30px;
    cursor:pointer;
  }

.categories{
    max-height:0;
    opacity:0;
}

.active {
    max-height:150px;
    opacity:1;
}
.articles{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    gap: 0 0;
    min-height:70vh;
    padding:0 1em;
    transition:all 0.3s ease-in-out;
    position:relative;   
}




@media screen and (max-width:330px){
  .mainSearch{
    gap:0.2em;
  }
}
