.posts{
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap:1.8em;
    min-height:70vh;
    margin-top:5em;
}


.fullWidth {
    flex-basis: 100%; /* This will make it take the full width */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}



.addArticle {
    position:fixed;
    display: flex;
    margin-bottom: 1.5em;
    left: 100%;
    top:50%;
    transform: translate(-100%,-50%);
}

.addArticle a {
    background:rgba(0, 0, 0, 0.65);/* Example color */
    color: white;
    padding: 0.6em 2em;
    border-radius: 0.5em 0 0 0.5em;
    width:10em;
    font-size:18px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
    box-shadow: 0px 0px 15px 2px white;

    &:hover {
        background-color: #0056b3;
    }
}


.filterStatus{
    flex-basis:100%;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:baseline;
    background-color:rgba(255, 255, 255, 0.758);
    padding:0.5em 0.4em 0.5em 4em;
    margin-top:-15px;
    font-size:24px;

}
.filterStatus:after{
    content:'';
    height:3px;
    width:min(60vw,400px);
    background-color:black;
}

@media only screen and (max-width:450px){
    .filterStatus{
        font-size:16px;
    }
    .filterStatus:after{
        display:none;
    }
}