.post {
  width:min(24em,90%);
  max-height:40em;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px var(--box-shadow-color);
  -moz-box-shadow: 0px 0px 8px 0px var(--box-shadow-color);
  box-shadow: 0px 0px 8px 0px var(--box-shadow-color);
  cursor: pointer;
  transition: scale var(--scale-transition-duration) ease-in-out;
  box-sizing:border-box;
  overflow: hidden;
  background-color:var(--color-white);
}

.img-wrapper{
  width: 100%;
  height: 14em;
  position: relative;
  overflow: hidden; 
}
.post-details{
  padding:1em;
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.post-title{
  position:absolute;
  transform:translate(-100%,-100%);
  top:220px;
  left:100%;
  
  width: 80%;
  background:rgba(0, 0, 0, 0.8);
  padding-left:0.8em;
  padding:0.4em 0.8em 2px 0.8em;
  color:var(--color-white);
  border-radius: 8px 0 0 8px;
}

.person-info{
  margin-top:3em;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size:13px;
  font-weight:bold;
  color: var(--person-info-color);
}


.post-description{
  color: var(--description-color);
  margin-top: 1em;
  line-height:1.7em;
  font-size: 14px;
}

.img{
  width:100%;
  height:100%;
  object-fit:cover;
  filter: brightness(0.7);
}

.read-more{
  color:var(--color-white);
  background-color:var(--read-more-button);
  outline:none;
  border:none;
  padding:0.7em 1.2em;
  border-radius: 8px;
  cursor:pointer; 
  transition: scale var(--scale-transition-duration) ease-in-out;
  text-decoration: none;
}
.read-more:hover{
  scale:1.05;
}

.row-container{
  display:flex;
  justify-content: space-around;
  gap:2em;
  flex-wrap:wrap;
  padding:1em;

}
.react-stars{
  position:relative;
  top:-5px;
}

@media (max-width: 640px) {
  .post {
    max-height: fit-content;
    margin-bottom: 20px;
    flex-direction: column;
  }
  
.post-description{
  line-height:1.2em;
  font-size: 12px;
}
.read-more:hover{
  scale:1.02;
}
.post-title{
  position:absolute;
  width:100%;
  border-radius: 0px;
  font-size:15px;
  text-align:center;
  padding: 15px 0;
}
.post-details{
  padding:10px;
}

.person-info{
  margin-top:1em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size:10px;
  font-weight:bold;
  color: var(--person-info-color);
}
}