.filter-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f7f7f7;
    gap:5px;
    margin: 20px auto;
}

.filter-content h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.filter-content input {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    width: min(200px,80%);
}


.filter-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Custom styles for specific buttons */
.button__apply-filters {
    background-color: #4CAF50; /* Green background for Apply Filters */
    color: white;
    opacity:0.93;
}

.button__reset-filters {
    background-color: #FF5733; /* Red background for Reset Filters */
    color: white;
    opacity:0.93;
}

.filter-content button:hover {
    opacity:1;
}

.date-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date-input {
    width: 45%; /* Divides the width so that two inputs and text can fit in one row */
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.date-label {
    margin: 0 10px;
}

.button__reset-filters:disabled{
    background-color: #ddd;
    color: #333;
    cursor: not-allowed;
}


@media screen and (max-width: 650px){
    .date-row{
        flex-direction: column;
    }
}