.articlesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.6em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8em;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding:1em;

}


.menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:var(--logo-color-opacity);
    width:100vw;
    padding:1.1em;
    position:sticky;
    top:0;
    z-index:10;
}



.menu button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Zaokrąglone rogi dla lepszego wyglądu */
    background: linear-gradient(45deg, var(--color), var(--logo-color));
    color: white;
    font-weight: 600; /* Grubsza czcionka */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s; /* Dodane animacje */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Cień dla głębokości */
}

.menu button:hover {
    transform: translateY(-2px); /* Efekt unoszenia się przycisku */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.menu button:active {
    transform: translateY(0);
}


.menu button.active {
    background:  #4444aa; /* Ciemniejszy gradient */
    outline:2px solid white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Cień wewnętrzny dla głębokości */
}




.categoryDropdown {
    margin-left: 10px; /* Odstęp od innych elementów w menu */
    padding: 10px;
    border-radius: 20px; /* Zaokrąglone rogi */
    border: none; /* Usuń domyślną ramkę */
    font-weight: bold; /* Grubsza czcionka */
    cursor: pointer;
    color: white;
    appearance: none; /* Usuwa domyślny wygląd na niektórych przeglądarkach */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Cień dla głębokości */
    transition: box-shadow 0.2s;
    background-color:#4444aa; /* Załóżmy, że --darker-color to twoja ciemniejsza zmienna koloru */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>'); /* Ikona strzałki w dół */
    background-repeat: no-repeat;
    background-position: right 0.5em center; /* Pozycjonowanie ikony wewnątrz rozwijanego menu */
    background-size: 16px 16px; /* Rozmiar ikony */
    padding-right: 2.5em; 
    
}

.categoryDropdown:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.categoryDropdown:focus {
    outline: none; /* Usuń domyślny kontur po kliknięciu */
}
