/* Review.module.css */

.reviewContainer {
    
    padding: 16px;
    margin: 16px 0;
    border-radius: 4px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
    box-shadow:0px 0px 8px 1px rgb(71, 71, 71);
    max-width:44em;
    width:fit-content;
}

.reviewContainer  *{
    word-wrap: break-word;

}
.authorInfo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap:0.3em;
    font-size:12px;
}

.reviewContainer .imageContainer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    
}
.reviewContainer .authorImage {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    background-image:url('../../../../assets/images/profilePicture.png')
}

.reviewContainer .authorName {
    font-weight: bold;
    margin-right: 8px;
}

.reviewContainer .reviewDate {
    color: #888;
    
}

.reviewContainer .content {
    flex: 1;
    margin-bottom: 16px;
    color: #333;
    line-height: 1.5;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.reviewContainer .reviewFooter {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: flex-start;
}


.reviewContainer .ratingLabel{
    padding: 0.3em 0.5em;
    border-radius: 8px;
    font-size:12px;
}
.reviewContainer .thumbs {
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right:1em;
    font-size:12px;
}
.reviewContainer .thumbsItem{
    padding:5px;
    cursor:pointer;
}
.reviewContainer .ratingContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap:wrap;
}

/* Media Query dla zmniejszonego widoku */
@media screen and (max-width: 508px) {
    .reviewContainer .authorName {
        font-size:11px;
    }
    
    .reviewContainer .reviewDate {
        
        font-size: 9px;
    }
    
    .reviewContainer .content {
        font-size: 11px;
    }
    
}