
 

.ModalOpen{
    animation: openModal 1s ease-out forwards;
  }
  
  .ModalClosed{
     animation: closeModal 2s ease-out forwards; 
    
  }
  
  
  .fade-slide-enter-active{
    animation: openModal 1s ease-out forwards;
    
  }
  
  
  .fade-slide-exit-active{
   animation: closeModal 2s ease-out forwards; 
  }
  @keyframes openModal {
    0% {
        
        transform:  translateX(0);
        opacity: 0;
    }
    
  
    100% {
        opacity:1;
        transform: translateX(-100%);
    }
  }
  
  @keyframes closeModal  {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    20%{
      opacity:0;
    }
   
    100% {
        opacity:0;
        transform:  translateX(0);
        
    }
    
  }