/* PostDetails.module.css */

:root {
  --primary-bg: #f5f5f5;
  --text-color: var(--main-color);
  --accent-color: var(--logo-color); 
  --hover-color: var(--color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding:1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg);
  font-weight: bold;
  min-height: 110vh;
  
  width: 100vw;
  position:relative;
}

.container *{
  word-wrap: break-word;
}

.section {
  width: 100%;
  max-width: 1100px;
  margin: 2em auto;
  padding: 1em;
  min-height:100vh;
  background-color: var(--primary-bg);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section h1, .section p{
  text-align: left;
  color: var(--main-color);

}
.icon {
  margin-right: 5px;
  color: var(--accent-color);
}

.postInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1em;
}

.categoryTag {
  background-color: var(--accent-color);
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.categoryTag:hover {
  background-color: var(--hover-color);
}

.container .mainImage, .image {
  width: 100%;
  max-width: 90vw;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
 
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: center;
}

.article {
  padding: 1em 0;
}

.paragraph {
  text-align: justify;
  margin-bottom: 1.5em;
  font-size: 1.1em;
  line-height: 1.6;
  text-indent: 1.5em;
}

.imageGroup {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
  background-color: var(--primary-bg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.container img {
  width: min(75vw, 25em);
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.853);
  z-index: 1;
  background-image: url("../../../assets/images/not-found.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .mainImage{
  min-height:100px;
  max-width: 70vw;
  object-fit: cover;
  object-position: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.imageGroup .image {
  height: 300px;
  max-width: min(75vw, 25em);
  flex: min(90vw, 0em) 1 1;
  object-fit: cover;
  object-position: center;
}

/* Jeśli chcesz dodać cienie do obrazów w grupie */
.imageGroup .image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Odpowiedzialność na urządzenia mobilne */
@media screen and (max-width: 768px) {
  
  .mainImage, .image {
      width: 90%;
  }
}

