


:root{
  --background:rgba(0, 0, 0, 0.65);
}



.header{
  background: var(--background);
  text-align:center;
  position:sticky;
  top:0;
  width:inherit;
  z-index:5;
  display:flex;
  align-items:center;
  padding: 0 1em;
  color:rgba(255, 255, 255, 0.9);
  transition: margin-bottom 200ms ease-in-out;
}

.nav-toggle{
  display:none;
}

.nav-toggle-label{
  position:absolute;
  top:0;
  left:80%;
  
  margin-left:1em;
  height:100%;
  display:flex;
  align-items:center;
  cursor:pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display:block;
  background:rgba(243, 243, 243);
  height:4px;
  width:2em;
  border-radius:2px;
  position:relative;
  -webkit-box-shadow: 0px 0px 2px 0px rgb(53, 53, 53);
-moz-box-shadow: 0px 0px 2px 0px rgb(53, 53, 53);
box-shadow: 0px 0px  2px 0px rgb(53, 53, 53);
transition:all 200ms ease-in-out;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content:'';
  position:absolute;
}

.nav-toggle-label span::before{
  bottom:7px;
}

.nav-toggle-label span::after{
  top:7px;
}

.nav-toggle:checked ~  .header .nav-toggle-label span::before{
  transform:rotate(45deg) translate(5px,5px);
}

.nav-toggle:checked ~  .header .nav-toggle-label span::after{
  transform:rotate(-45deg) translate(5px,-5px);
}

.nav-toggle:checked ~  .header .nav-toggle-label span{
  width:0;
}


.nav{
  position:absolute;
  box-sizing:border-box;
  width:100%;
  top:100%;
  left:0;
  padding:1em;
  background-color: var(--background);
  
  transform:scale(1,0);
  transition:transform 400ms ease-in-out;
  transform-origin:top;

}

.nav ul{
  margin:0 auto;
  padding:0;
  list-style:none;


}

.link{
  color:rgba(255, 255, 255, 0.9);
  text-decoration:none;
  font-size:1.2rem;
  
  opacity:0;
  transition:opacity 150ms ease-in-out;
  background:transparent;
  border:none;
  outline:none;
  cursor:pointer;
}

.nav li{
  margin-bottom:1em;
  margin-left:1em;
}

.nav .link{
  color:rgba(255, 255, 255, 0.9);
  text-decoration:none;
  font-size:1.2rem;
 
  opacity:0;
  transition:opacity 150ms ease-in-out;
}

.nav .link >:first-child{
  position:absolute;
  top:2px;
  left:-1.4em;
}
.nav .link:hover{
  color:rgba(243, 243, 243);
}

.nav-toggle:checked ~  .header nav{
 transform:scale(1,1);
}

.nav-toggle:checked ~ .header nav .link{
  opacity:1;
  transition:opacity 150ms ease-in-out 250ms;
}
.nav-toggle:checked ~ .header{
  margin-bottom: 13em;
}
@media screen and (min-width: 740px){
  .nav-toggle-label{
      display:none;
  }

  .header{
      display:flex;
  align-items:center;
  justify-content: space-around;
  padding: 0 1em;

  }

  .nav-toggle:checked ~ .header{
    margin-bottom: 1em;
  }


  .nav{
      all:unset;/* 
      ta wlasciwosc  all:unset; usuwa wszystkie wlasciwosci nadane wczesniej, w tym przypadku usuwa transform:scale(1,0);
      
      */
      display:flex;
      justify-content:flex-end;
      align-items:center;
      transition:none;
  }

  .nav ul{
      display:flex;
  }

  .nav li{
      margin-left:3em;
      margin-bottom:0;
  }

  .nav .link{
      opacity:1;
      position:relative;
      font-size:16px;
  }

  .nav .link::before{
      content:'';
      display:block;
      height:5px;
      background:rgba(243, 243, 243);
      position:absolute;
      bottom:-0.4em;
      left:0;
      right:0;
      transform:scale(0,1);
      transform-origin: right;
      transition:transform ease-in-out 250ms;
  }

  .nav .link:hover::before, .nav .active::before{
      transform:scale(1,1);
  }
  

  

}