.newContent {
  position: fixed;
  z-index: 10;
  width: min(30em, 90vw);
  transform: translateX(-100%);
  left: 100%;
  height: 100vh;
  overflow-y: scroll;
  transition: transform 0.3s ease;
  padding: 16px;
  background-color: #f4f4f4;
  box-shadow: 0 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 0 auto;
}

.closeButton {
  display: flex;
  box-sizing: border-box;
  width: 2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.653);
  box-shadow: 0px 0px 5px 2px rgb(141, 141, 141);
  color: white;
  font-size: 20px;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.753);
  box-shadow: 0px 0px 5px 2px rgb(30, 30, 30);
  border-radius: 50% 0 0 50%;
  width: 3em;
}

.backdrop {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.695);
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.backdropActive {
  opacity: 1;
}

.menu {
  position: fixed;
  z-index: 4;
  background-color: var(--logo-color-opacity);
  border-radius: 12px 0 0 12px;
  transform: translate(-100%, -50%);
  left: 100%;
  top: 50%;
  padding: 1em 0 1em 1em;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menuActive {
  transform: translate(0%, -50%);
}

.reviewArticleButton {
  padding: 10px 20px;
  background-color: #2e2e2e9b; /* kolor tła */
  color: white;
  border: none;
  border-radius: 12px 0 0 12px;
  cursor: pointer;
  z-index: 5; /* aby przycisk był zawsze widoczny */
  font-weight: bold;
  font-size: 13px;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100px;
  transition: all 0.3s ease;
}

.reviewArticleButton:hover {
  background-color: #2e2e2e; /* kolor tła */
  width: 200px;
}
