
.container > * {
    box-sizing:border-box;
    margin-bottom: 16px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    
}

.content{
    max-height:calc(100vh - 350px);
    overflow-y:scroll;
}
